/src/config.mak
/src/sources/
/src/output/
/src/binutils-*/
/src/gcc-*/
/src/musl-*/
/src/gmp-*/
/src/mpc-*/
/src/mpfr-*/
/src/build-*/
/src/linux-*/
/ignore/
/build/
/include/
/lib/
/share/
build/
*.out
*.log
/*-linux-musl*/
/bootstrap/
src/*-musl/
.env
/node_modules/
/ignore/
